<div class="dashboard-container">
    <p-toolbar>
        <div class="p-toolbar-group-left">
        </div>
    </p-toolbar>

    <div class="dashboard-content">
        <div class="card-grid">
            <p-card *ngFor="let product of (products$ | async)" class="product-card">
                <ng-template pTemplate="content">
                    <p id="title">{{product.title | titlecase  }}</p>
                    <p>{{ product.body }}</p>

                </ng-template>
            </p-card>
        </div>
    </div>
</div>